# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# RoC's PC
zOpCelebi/
zTools/
29\ -\ Gen\ VII\ -\ LGPE\ Collection/Pokemon\ Go/GP1\ (Original)
29\ -\ Gen\ VII\ -\ LGPE\ Collection/Save\ Data
31\ -\ Gen\ VIII\ -\ SWSH\ Collection/Save\ Data