# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# RoC's PC
zEmulation/
zHolding/
zOpCelebi/
zRollout/
zTools/
19 - Gen VI - XY Collection/Save Data/
20 - Gen VI - ORAS Collection/Save Data/
24 - Gen VII - SM Collection/Save Data/
zSaves/